<!DOCTYPE html>
<html>
  <head>
    <title>RealmsWorld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hello-angular>Loading...</hello-angular>

    <%= javascript_pack_tag 'hello_angular' %>
  </body>
</html>
